<!-- ========================== HEADER ========================== -->

<section class="landing text center color white">
    <div class="row">
        <div class="column_10 offset_1">
            <h1 style="color: #F39C12"><img src="assets/icono.png" style="width: 100px;height: 100px;margin-right: 10px;"></span><strong>Track</strong><span class="text book">xi</span></h1>
            <h2 class="margin-bottom">La forma más <strong>#segura</strong> de viajar en taxi.</h2>
        </div>
    </div>

    <div class="row">
        <div class="column_6 offset_3 form">
            <input type="email" id="mail" class="large on-left" placeholder="Introduce tu dirección de correo">
            <button class="button large on-right"><span class="icon envelope"></span>Avísame</button>
        </div>
    </div>
        <h5 class="text book">No nos gusta el SPAM, solamente te molestaremos cuando estemos listos.</h5>

</section>

<section class="bck theme padding text center ">
    <div class="row padding-bottom">
        <div class="column_10 offset_1">
            <h1 class="text book color default">Encuentra un taxi rápido y seguro</h1>
            <h4>
                Usa Trackxi para conseguir un taxi estés donde estés, cuando tú quieras. .
            </h4>
        </div>
    </div>

    <div class="row padding-top">
        <div class="column_4">
            <h2 class="icon lock"></h2>
            <h4 class="text normal">Seguridad</h4>
            <p>Sabrás que quién te lleva a tu destino es un taxi seguro previamente validado y registrado en nuestra base de datos. El app también tiene un sistema de chat o llamada por si no ha llegado tu taxi o tienes alguna eventualidad.</p>
        </div>
        <div class="column_4">
            <h2 class="icon map-marker"></h2>
            <h4 class="text normal">Geolocalización</h4>
            <p>Monitorea tus recorridos y tiempos con nuestro mapa de monitoreo remoto en tiempo real.</p>
        </div>
        <div class="column_4">
            <h2 class="icon thumbs-up"></h2>
            <h4 class="text normal">Precio Justo</h4>
            <p>En la petición de la carrera, te informaremos de un precio orientativo del coste de tu carrera así como del tiempo de llegada estimado para que evites posibles engaños.</p>
        </div>
    </div>
</section>

<section class="padding  bck lightest">
    <div class="row text thin center">
        <div class="column_10 offset_1">
            <h1 class="text bold color theme">Próximamente disponible para ...</h1>
            <h4 class="text normal italic color white" style="margin-bottom: 20px">...Android, Iphone y FirefoxOS</h4>
            <div class="column_12 offset_1 target margin_top">
                <div class="column_2"><img src="assets/logo_apple.png"></div>
                <div class="column_2"><img src="assets/logo_android.png"></div>
                <div class="column_2"><img src="assets/logo_firefox.png"></div>
            </div>
        </div>
    </div>
</section>

<section class="bck color landing">
    <div class="row text center">
        <div class="column_10 offset_1">
            <h2 class="text bold color theme">Como funciona Trackxi</h2>
            <h4 class="text book italic"></h4>
            <div class="column_10 margin_top">
                <div class="column_3" style="margin-right:10px"><img src="assets/iphoneImagen1.png"></div>
                <div class="column_3" style="margin-right:10px"><img src="assets/iphoneImagen2.png"></div>
                <div class="column_3"><img src="assets/iphoneImagen3.png"></div>
            </div>            
        </div>
    </div>
</section>

<footer class="bck dark padding">
    <div class="row margin-top margin-bottom">
        <div class="column_5">
            <p class="text bold big">Desarrollado por <a href="http://openfinance.es" class="display inline">Openfinance</a> para el <b>#ofhackday</b></p>
            Nos podeis encontrar fácilmente en <span class="text normal">Valencia</span>, ES.
        </div>

        <div class="column_7">
            <p class="text bold big">Necesitas ayuda?</p>
            Para cualquier duda <a href="https://twitter.com/taxife" target="_blank" class="text underline color theme">siguenos</a>
        </div>
    </div>
</footer>